.containers {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  border: 2px solid blue;
}
.containers h1 {
  color: blueviolet;
  font-size: 22px;
}

#units {
  position: relative;
  font-size: 15px;
  bottom: 25px;
}

strong {
  font-size: 30px;
}
p {
  margin-bottom: 0px;
}

.day {
  line-height: 18px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

#temperature-value {
  font-size: 50px;
  font-weight: 500;
}
.temperature {
  margin-top: -32px;
}
